/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 4564218 */
    src: url('//at.alicdn.com/t/c/font_4564218_gesafupzcyp.woff2?t=1716864331974') format('woff2'),
         url('//at.alicdn.com/t/c/font_4564218_gesafupzcyp.woff?t=1716864331974') format('woff'),
         url('//at.alicdn.com/t/c/font_4564218_gesafupzcyp.ttf?t=1716864331974') format('truetype');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px; /* 字体大小自行修改 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-github:before {
    content: "\ea0b"; /* 图标颜色需要自行修改 */
  }
  
  /*
   此处省略项目中其他字体代码
  */
